@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Ubuntu";
}

header {
  background-color: #2e948a;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.container-logo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
  max-width: 1440px;
  padding: 1.5vw 5vw;
}

.logo-header {
  width: max(17vw, 100px);
}

nav {
  text-align: right;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu-header {
  margin: 0;
  padding: 0;
}

.menu-item-header {
  display: inline;
}

.menu-item-link-header {
  color: #fdfdfd;
  font-weight: 700;
  font-size: max(1.3vw, 10px);
  text-decoration: none;
  margin-left: 1vw;
}

article {
  width: 70vw;
  margin: 6vw 15vw 12vw 15vw;
}

#retângulo {
  width: 71vw;
  height: 32vw;
  background-color: #c4c4c4;
  margin: 5vw auto;
}

article h1 {
  font-size: max(3.2vw, 25px);
  font-weight: 500;
  color: #ff4081;
  text-align: center;
  margin-bottom: 0;
}

article h6 {
  font-size: max(1.15vw, 9px);
  color: #9d9d9d;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
}

article p {
  font-size: max(1.2vw, 9px);
}

article h3 {
  color: #419488;
  font-size: max(1.7vw, 13px);
  margin-top: 5vw;
}

.nossos-cursos {
  background-color: #f6f6f6;
  padding: 3vw 0 8vw 0;
}

.nossos-cursos h1 {
  font-size: max(3.2vw, 25px);
  color: #ff4081;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5vw;
}

.cursos {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  text-align: center;
}

.curso-imagem img {
  height: max(19vw, 135px);
}

.curso-item h3 {
  font-size: max(1.6vw, 12px);
  color: #ff4081;
}

.curso-item p {
  font-size: max(1.1vw, 8px);
  margin-bottom: 3vw;
}

.botão-começar {
  font-size: max(1.3vw, 10px);
  text-decoration: none;
  color: #fff;
  background-color: #ff4081;
  border-radius: 62px;
  padding: 1vw 3.5vw;
}

footer {
  background-color: #2e948a;
}

.container-logo-rodape {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5vw 8vw;
  max-width: 1440px;
  margin: 0 1vw;
}

.logo-rodape {
  width: max(22vw, 125px);
}

.menu-item-rodape {
  list-style: none;
  margin-bottom: 1vw;
  text-align: start;
}

.menu-item-link-rodape {
  color: #fff;
  font-weight: 400;
  font-size: max(1.3vw, 10px);
  text-decoration: none;
}

.botões-rodape {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.botao-rodape {
  color: #fff;
  font-weight: 400;
  width: max(20vw, 120px);
  height: max(3.5vw, 20px);
  font-size: max(1.3vw, 10px);
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 62px;
  margin-bottom: 1vw;
  box-sizing: border-box;
  padding: 0.7vw 0;
}

@media (max-width: 750px) {
  .cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5vw;
    text-align: left;
    margin: 0 15vw;
  }

  .curso-item {
    display: flex;
    gap: 5vw;
  }

  .curso-imagem img {
    width: max(20vw, 85px);
    height: auto;
  }

  .curso-item h3 {
    margin-top: 0;
  }
}
